# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store

# Local config
.env
.env.*

tools/llava_med/.venv/
tools/llava_med/artifacts/
artifacts/
data/
!data/.gitkeep
logs/